apiVersion: apps/v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
spec:
  selector:
    app: {{ .Release.Name }}-app
  ports:
  - port: {{ .Values.get-task.servicePort }}
    targetPort: {{ .Values.get-task.Port }}
